
input[type="checkbox"]::before{
	z-index: 2;
	position: absolute;
	content: "";
	left: 0;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 50%;
	transform: scale(1.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: .4s;
}
#garage::before{
	
	background: url('https://img.icons8.com/ios-filled/50/000240/circled-g.png') ;
	background-size: contain;
}
#inv::before{
	
	background: url('https://img.icons8.com/ios-filled/50/000240/circled-i.png') ;
	background-size: contain;
}
#free::before{
	
	background: url('https://img.icons8.com/ios-filled/50/000240/circled-f.png') ;
	background-size: contain;
	
}
#zone::before{
	
	background: url('https://img.icons8.com/ios-filled/50/000240/circled-z.png') ;
	background-size: contain;
}
input:checked[type="checkbox"]::before {
	left: 60px;
}
input[type="checkbox"] {
	position: relative;
	width: 80px;
	height: 30px;
	background: #bdc3c7;
	-webkit-appearance: none;
	border-radius: 20px;
	outline: none;
	transition: .4s;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	margin-right: 10px;
	
}

input:checked[type="checkbox"] {
	background: #34eb89;
}

#floating-panel {
	position: absolute;
	top: 20px;
	right: 0px;
	z-index: 5;
	background-color: transparent;
	padding: 5px;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
	margin-right: 0;
}
#floating-panel-names {
	position: absolute;
	top: 40px;
	right: 0px;
	z-index: 5;
	background-color: transparent;
	padding: 5px;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
	text-justify: inter-cluster;
}

#button-names {
	text-justify: newspaper;
	padding: 10px;
	width: 10px;
}
._checkbox {
	display: none;
}

label {
	visibility: hidden;
	position: absolute;
	top: 70px;
	right: 0px;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background-color: #34eb89;
	transform: translateY(-50%);
	border-radius: 50%;
	cursor: pointer;
	transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
	overflow: hidden;
	z-index: 1;
}

label:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	background-color: #fff;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: 0.2s ease width, 0.2s ease height;
}

label:hover:before {
	width: 21px;
	height: 21px;
}

label:active {
	transform: translateY(-50%) scale(0.9);
}

.tick_mark {
	position: absolute;
	top: -15px;
	right: -5px;
	width: 55px;
	height: 40px;
	margin: 0 auto;
	margin-left: 14px;
	transform: rotateZ(-40deg);
}

.tick_mark:before,
.tick_mark:after {
	content: "";
	position: absolute;
	background-color: #fff;
	border-radius: 2px;
	opacity: 0;
	transition: 0.2s ease transform, 0.2s ease opacity;
}

.tick_mark:before {
	left: 0;
	bottom: 0;
	width: 5px;
	height: 15px;
	transform: translateY(-68px);
}

.tick_mark:after {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 10px;
	transform: translateX(78px);
}

._checkbox:checked + label {
	background-color: #34eb89;
}

._checkbox:checked + label:before {
	width: 0;
	height: 0;
}

._checkbox:checked + label .tick_mark:before,
._checkbox:checked + label .tick_mark:after {
	transform: translate(0);
	opacity: 1;
}
